%h1 Activations
%dl
  - @activations.each do |activation|
    %dt
      = link_to activation.title, activation
      = activation.location
    %dd= activation.description

= link_to "New Activation", new_activation_path, class: "btn"
